<h1>Leaderboard</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Score</th>
      <th>Games played</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.rank %></td>
        <td><%= user.name %></td>
        <td><%= user.score %></td>
        <td><%= user.played %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

